<h1>MSSE 682</h1>
<h2>Regis University</h2>
<p>Single-page application, built with Angular2 and .NET Web API</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for server-side code</li>
    <li><a href='https://angular.io/'>Angular 2</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
</ul>

<div>
    <h3>Week 8</h3>
    <h4>Deliverable</h4>
    <p>
        I used REST via a Web API host and Angular2 client to set up some web service 
        infrastructure, an example is in "AccountController.cs", there I set up some
        HTTP that is called in "account.component.ts".  Everything is hosted on Microsoft
        Azure.
    </p>
    <p>
        You can also see the API in action by going to 
        http://main52.azurewebsites.net/api/account/amt/1000
        you can replace 1000 with any number you like, just put it in your browser
        and you should see a JSON object displayed by your browser, this is the same url
        that the client is using.
    </p>
</div>